@page "/"
@using System.Text.Encodings.Web
@using Software.Shared;

@inject HttpClient Http

<h3>Search Software</h3>

<div style="margin-bottom:10px">
    <input @bind="SoftwareSearchItem.Name" placeholder="Title filter" title="Search for software with titles containing entered value" />
    <input @bind="SoftwareSearchItem.Version" placeholder="Version filter (ie '1.0')" title="Search for software with versions greater than entered value" />
    <button class="btn btn-primary" @onclick="UpdateResults">Search</button>
</div>

<SoftwareTable @bind-SoftwareList="SearchResults"  @bind-SoftwareList:event="SoftwareListChanged"></SoftwareTable>

@code {
    private SoftwareSearchItem SoftwareSearchItem { get; set; } = new SoftwareSearchItem();

    private SoftwareSearchItem[] SearchResults = Array.Empty<SoftwareSearchItem>();

    private async void UpdateResults()
    {
        try
        {
            var response = await Http.PostAsJsonAsync<SoftwareSearchItem>(
                $"api/Software/Search", SoftwareSearchItem);

            SearchResults = await response.Content.ReadFromJsonAsync<SoftwareSearchItem[]>();
        }
        catch(Exception exception)
        {
            SearchResults = Array.Empty<SoftwareSearchItem>();

            // throw exception;
        }

        StateHasChanged();
    }
}